[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pedigreemm"]
	path = pedigreemm
	url = https://github.com/anainesvs/pedigreemm
